.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  padding: 10px 50px;
}
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.navbar .logo span {
  color: #69B99D;
}
.navbar .menu {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.navbar .menu li a {
  text-decoration: none;
  color: #777;
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
  background-color: #F9F9F9;
}
.hero .hero-text {
  max-width: 500px;
}
.hero .hero-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}
.hero .hero-text p {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}
.hero .hero-text .btn {
  background-color: #69B99D;
  color: #F9F9F9;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.hero .hero-text .btn:hover {
  background-color: #a2ebd1;
}
.hero .hero-image {
  position: relative;
}
.hero .hero-image img {
  width: 480px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}
.hero .hero-image::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 100%;
  height: 100%;
  background-color: #69B99D;
  border-radius: 10px;
}

.sobre {
  background-color: #F9F9F9;
  padding: 80px 0;
}
.sobre .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}
.sobre .imagem {
  flex: 1;
}
.sobre .imagem img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sobre .texto {
  flex: 1;
}
.sobre .texto h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.sobre .texto p {
  font-size: 1.2rem;
  color: #777;
  line-height: 1.6;
  margin-bottom: 15px;
}

.servicos {
  text-align: center;
  padding: 80px 0;
  background-color: #F9F9F9;
}
.servicos .container {
  max-width: 1100px;
  margin: 0 auto;
}
.servicos h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.servicos p {
  font-size: 1.2rem;
  color: #777;
  max-width: 700px;
  margin: 0 auto 40px;
}
.servicos .destaque {
  color: #69B99D;
  font-weight: bold;
}
.servicos .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.servicos .cards .card {
  background: #F9F9F9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #69B99D;
  text-align: center;
  width: 300px;
}
.servicos .cards .card:hover {
  transform: translateY(-5px);
}
.servicos .cards .card img {
  width: 120px;
  margin-bottom: 15px;
}
.servicos .cards .card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.servicos .cards .card p {
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
}

.depoimentos {
  text-align: center;
  padding: 80px 0;
  background-color: #F9F9F9;
}
.depoimentos .container {
  max-width: 1100px;
  margin: 0 auto;
}
.depoimentos h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 50px;
}
.depoimentos .slider {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.depoimentos .slider .card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #777;
  width: 400px;
  transition: transform 0.3s ease-in-out;
  text-align: left;
}
.depoimentos .slider .card:hover {
  transform: translateY(-5px);
}
.depoimentos .slider .card p {
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
}
.depoimentos .slider .card p .quote {
  color: #69B99D;
  font-size: 2rem;
  margin-right: 5px;
}
.depoimentos .slider .card .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.depoimentos .slider .card .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.depoimentos .slider .card .user span {
  font-size: 1rem;
  font-weight: bold;
  color: #777;
}
.depoimentos .pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.depoimentos .pagination .dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.depoimentos .pagination .dot.active {
  background: #38a37d;
}

body {
  background-color: #F9F9F9;
  color: #777;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.contact-section {
  background-color: #F9F9F9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
}
.contact-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}
.contact-section p {
  font-size: 16px;
  margin-bottom: 20px;
}
.contact-section .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact-section .contact-info a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.contact-section .contact-info a:hover {
  color: black;
}

.footer {
  background-color: #69B99D;
  color: #F9F9F9;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.footer .logo {
  font-weight: bold;
  font-size: 20px;
}
.footer .social-icons {
  margin-top: 10px;
}
.footer .social-icons a {
  color: #F9F9F9;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}
.footer .social-icons a:hover {
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */